/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* LICENSE : MIT (Miouyouyou) */

/* Heavily sto^W cop^W influenced by StackEdit CSS */

/* Don't use truetype, it leads to *VERY UGLY* fonts for Lato */

/* Black */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-BlackItalic.woff');
    font-weight: bold;
    font-style: italic;
}


/* Normal */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Italic.woff');
    font-weight: 400;
    font-style: italic;
}


/* Light */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-LightItalic.woff');
    font-weight: 100;
    font-style: italic;
}


/* Because, CSS people, putting padding OUTSIDE is something
 * I will never understand...
 * Padding should always be inside the box. That's how
 * you pad a box...
 */
* { box-sizing: border-box; }

/* No overflow */
html {
	overflow-wrap: break-word;
}
* { max-width: 100vw; }

/* RGBA on mobile devices... Transparency can tax the GPU but...
 * transparency IS used anyway for font rendering, unless
 * there's a way to display text on a background, without
 * enabling GL_BLEND...
 * I'll still do without weird rgba values for the moment.
 */
html {
	font-family: "Lato",sans-serif;
	color: rgb(60,60,60);
	background-color: #f1f1f1;
	line-height: 1.67;
	font-variant-ligatures: none;
	text-rendering: auto;
}

html, body { width: 100%; height: 100%; font-size: 18px; }
body { margin: 0; padding: 0; }
body > main { margin-bottom: 100px;}

a:hover, a, a.taglink:visited { color: #0cafe4 }
a:visited { color: #5c0fe4 } 
h1 a, h1 a:visited, h1 a:hover { color: inherit; }
h1 a:hover { text-decoration: underline; }

a:visited, a:hover, a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
	margin: 1.8em 0; /* Try other values, just to be sure */
	line-height: 1.33;
}
h1, h2, h3 { font-weight: bold; }
h1 {
	font-size: 2em;
}
h2 { font-size: 27px; }
h3 { font-size: 1.17em }

hr { border: none; }

hr.separator {
	display: block;
	border-bottom: 1px solid hsl(0, 0%, 55.3%);
}
hr:last-child.separator { display: none; }

article, aside#meta, hr.separator, #listpagination {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}
article {
	background-color: #f4f4f4;
	border: 1px solid #cdcdcd;
	padding: 0px 80px 30px 80px;
	margin: 50px auto;
}

article header h1 { text-align: center; }
#singlepage article {
	padding: 0px 80px 30px 80px;
	margin-bottom: 0px;
}
article > footer {
	font-style: italic;
	text-align: right;
}

/* Article meta */

aside#meta {
	padding: 30px 80px 60px 80px;
	background-color: #100;
	color: #f1f1f1;
	border: 1px solid black;
}
aside#meta ul { margin: 0; padding: 0; }
aside#meta ul, aside#meta li { display: inline-block; }
p#date, #pagetags {
	font-style: italic;
	color: #888;
}
p#date { margin: 0; padding: 0; }
#pagetags p { display: inline-block; margin: 0; padding: 0;}
#tags li:last-child .taglink::after { content: ""; }
.taglink::after { content: ", "; }

#relatedlinks { margin-top: 50px; }
#relatedlinks a, #relatedlinks a.hover, #relatedlinks a.visited { color: white; font-weight: bold; text-decoration: none; }
#prevlink, #nextlink { width: 50%; display: inline-block; margin: 0; padding: 0; vertical-align: top; }
a.previous::before { content: "← "; }
a.next::after { content: " →"; }
#prevlink { text-align: left; }
#nextlink { text-align: right; }

article > main > h1:first-child {
	margin-top: 0;
}

section.lists > header {
	text-align: center;
	background-color: #12a5d8;
	color: white;
}
section.lists > header > h1 { margin: 0px; padding: 2em; }
section.lists > header > h1::after { all: initial }
	

/* ... Can't <hr> in markdown... */
article main h1::after, article main h2::after {
	content: "";
	display: block;
	position: relative;
	top: .33em;
	border-bottom: 1px solid hsl(0, 0%, 77.3%);
}

blockquote, dl, ol, p, pre, ul { margin: 1.2em 0; }

/* To replace by Gitlab CSS... or not. */
code {
	border-radius: 3px;
}
code, pre, samp {
	font-family: Roboto Mono,monaco,Courrier,monospace;
	font-size: .85em;
}
code, kbd, samp {
	font-family: monospace,monospace;
	font-size: 15px;
}

pre {
	background-color: #e7e7e7;
	display: block;
	padding: .5em;
	-webkit-text-size-adjust: none; /* ?? */
	overflow-x: auto;
	white-space: pre;
}
pre > code { border-radius: none; padding: none; color: inherit; }


/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	border-right: 1px solid #dcdcdc;
	padding: 8px 12px;
}

td:last-child, th:last-child {
    border-right: 0;
}

td {
	border-top: 1px solid #dcdcdc;
}

blockquote, dl, ol, p, pre, ul {
	margin: 1.2em 0;
}
blockquote {
	color: #797979;
	padding-left: 1.5em;
	border-left: 5px solid #dadada;
}



/* Navigation header */

#navigation {
	background-color: #ffffff;
	color: #111111;
	padding: 16px;
	display: block;
	border-bottom: 1px solid black;
	font-variant: small-caps;
}
#navbar_logo, #navbar_content, #navbar_ext_links { display: inline-block; }
#navbar_logo { width: 33%; }
#navbar_ext_links { width: 33%; text-align: right; }
#navbar_ext_links a { margin: 0 20px; }
#navbar_content { width: 34%; margin: 0 auto; }
navbar { text-align: center; }
navbar a { font-weight: bold; }
navbar > ul, navbar > ul > li {
	display: inline-block;
}
navbar > ul { margin: 0 auto; }

navbar > ul > li {
	margin: 0 20px;
	font-weight: bold;
}

#navigation img { vertical-align: middle; }
#navigation a:visited, #navigation a:hover, #navigation a {
	text-decoration: none;
	color: inherit;
}

/* Lists */

.contentlist aside {
	text-align: center;
	font-weight: bold;
	color: #797979;
	font-size: 24px;
	padding: 0;
	margin-top: 50px;
}
.contentlist aside p { margin: 0; padding: 0; }
#listpagination a, #listpagination a:hover, #listpagination a:visited {
	font-weight: bold;
	font-variant: small-caps;
	color: black;
	text-decoration: none;
}

code { color: #aa00aa; }

/* Advertisement for the time being */

#ad { text-align: center; }

