<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body>
		<header>
			{{- partial "header.html" . -}}
		</header>
		<main aria-role="main">
		{{- block "main" . }}{{- end }}
		</main>
		</div>
		{{- partial "footer.html" . -}}
	</body>
</html>
