{{ define "main" }}
<section class="lists">
	<header>
		<h1>{{ .Title }}</h1>
	</header>
	<section class="contentlist">
		{{ $paginator := .Paginate .Pages.ByDate.Reverse }}
		{{ range $paginator.Pages }}
			<aside>
				<p><time datetime="{{.Date}}">{{.Date.Day}} {{upper .Date.Month}} {{.Date.Year}}</time></p>
			</aside>
			<article>
				<header><h1><a href="{{.Permalink}}">{{.Title}}</a></h1></header>
				<main>{{ .Content }}</main>
			</article>
		{{ end }}
		<div id="listpagination">
			<!-- The Next == Prev makes no fucking sense until you understand that -->
			<!-- the paginator if you order by descending order, /page/2 is the   -->
			<!-- next page, and reference ealier content given the current order.  -->
			<p id="prevlink">
				{{ if $paginator.HasNext }}
					<a class="previous" href="{{$paginator.Next.URL}}">Earlier {{ lower .Title }}</a>
				{{ end }}
			</p><p id="nextlink">
				{{ if $paginator.HasPrev }}
					<a class="next" href="{{$paginator.Prev.URL}}">Later {{ lower .Title }}</a>
				{{ end }}
			</p>
		</div>
	</section>
</section>
{{ end }}

