{{ define "main" }}
<section id="singlepage">
	<article id="content">
		<header>
			<h1 id="title">{{ .Title }}</h1>
		</header>
		<main>{{ .Content }}</main>
	</article>
	<aside id="meta">
		<p id="date">Publication date : <time datetime="{{.Date }}">{{ .Date.Format "Mon Jan 2, 2006" }}</time></p>
		<div id="pagetags">
			<p>Tags :</p>
			{{ with .Params.tags }}
				<ul id="tags">
					{{ range . }}
						<li><a class="taglink" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			{{ end }}
		</div>
		<div id="relatedlinks">
			<p id="prevlink">
			{{ with .PrevInSection }}
				<a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
			{{ end }}
			</p><p id="nextlink">
			{{ with .NextInSection }}
				<a class="next" href="{{.Permalink}}"> {{.Title}}</a>
			{{ end }}
			</p>
		</div>
	</aside>
</section>
{{ end }}
