<head>
	<meta charset="utf-8">
	<meta author="Miouyouyou">
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/syntax.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }} {{ .Site.Title }} - {{ .Title }} {{ end }}</title>
</head>
