<div id="navigation">
	<div id="navbar_logo">
		<strong><a title="(｀・ω・´)" href="{{ .Site.BaseURL }}">{{.Site.Title}}</a></strong>
	</div><navbar id="navbar_content">
		<ul>
			<li><a href="/blog">Light notes</a></li>
			<li><a href="/documentation">Documentations</a></li>
		</ul>
	</navbar><div id="navbar_ext_links">
		<a title="Nomey ♪ Nomey ♪ Nomey ♪" href="https://liberapay.com/Myy">Liberapay</a>
		<a title="🦊" href="https://gitlab.com/Miouyouyou/blogengine">Gitlab</a>
	</div>
</div>
